body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:154px;
  width:336px;
  height:561px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:561px;
}
#u6 {
  position:absolute;
  left:2px;
  top:259px;
  width:332px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:456px;
  top:130px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:456px;
  top:290px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:456px;
  top:450px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:456px;
  top:600px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:456px;
  top:160px;
  width:429px;
  height:95px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:456px;
  top:320px;
  width:429px;
  height:95px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:456px;
  top:480px;
  width:429px;
  height:95px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:456px;
  top:625px;
  width:429px;
  height:95px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
