body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:160px;
  top:166px;
  width:85px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:48px;
  top:166px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:43px;
  top:214px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:79px;
  top:210px;
  width:86px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11_input:disabled {
  color:grayText;
}
#u12 {
  position:absolute;
  left:40px;
  top:288px;
  width:320px;
  height:32px;
  color:#797979;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:52px;
  top:298px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:122px;
  top:299px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:40px;
  top:323px;
  width:320px;
  height:32px;
  color:#797979;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:52px;
  top:334px;
  width:60px;
  height:16px;
  color:#797979;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:122px;
  top:334px;
  width:138px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:290px;
  top:334px;
  width:60px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:52px;
  top:268px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:277px;
  top:297px;
  width:60px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:218px;
  top:333px;
  width:60px;
  height:16px;
  color:#333333;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:330px;
  top:365px;
  width:40px;
  height:202px;
  color:#0099FF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:202px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:330px;
  top:544px;
  width:40px;
  height:16px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:52px;
  top:243px;
  width:69px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:121px;
  top:243px;
  width:69px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:289px;
  top:243px;
  width:69px;
  height:15px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:40px;
  top:258px;
  width:320px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u43 {
  position:absolute;
  left:942px;
  top:236px;
  width:268px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:990px;
  top:42px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:990px;
  top:262px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:990px;
  top:430px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:990px;
  top:580px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:990px;
  top:72px;
  width:429px;
  height:133px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u55 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:64px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u57 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:990px;
  top:292px;
  width:429px;
  height:125px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:90px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:990px;
  top:460px;
  width:429px;
  height:95px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:990px;
  top:610px;
  width:429px;
  height:95px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:442px;
  top:42px;
  width:428px;
  height:760px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:760px;
}
#u82 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
