body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1093px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:90px;
  width:1000px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u2 {
  position:absolute;
  left:33px;
  top:21px;
  width:289px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:398px;
  top:10px;
  width:272px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:398px;
  top:33px;
  width:272px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:398px;
  top:57px;
  width:272px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:28px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:10px;
  top:164px;
  width:100px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:10px;
  top:194px;
  width:100px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:10px;
  top:225px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:10px;
  top:259px;
  width:100px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:10px;
  top:288px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:30px;
  top:157px;
  width:1068px;
  height:159px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:67px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:165px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:265px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:365px;
  top:0px;
  width:97px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:462px;
  top:0px;
  width:97px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:559px;
  top:0px;
  width:97px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:656px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:756px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:856px;
  top:0px;
  width:97px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:953px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:30px;
  width:67px;
  height:33px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:67px;
  top:30px;
  width:98px;
  height:33px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:165px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:265px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:365px;
  top:30px;
  width:97px;
  height:33px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:462px;
  top:30px;
  width:97px;
  height:33px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:559px;
  top:30px;
  width:97px;
  height:33px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:656px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:756px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:856px;
  top:30px;
  width:97px;
  height:33px;
  color:#1E1E1E;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:953px;
  top:30px;
  width:110px;
  height:33px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:63px;
  width:67px;
  height:31px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:67px;
  top:63px;
  width:98px;
  height:31px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:165px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:265px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:365px;
  top:63px;
  width:97px;
  height:31px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:462px;
  top:63px;
  width:97px;
  height:31px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u78 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:559px;
  top:63px;
  width:97px;
  height:31px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u80 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:656px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:756px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:856px;
  top:63px;
  width:97px;
  height:31px;
  color:#1E1E1E;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:953px;
  top:63px;
  width:110px;
  height:31px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:0px;
  top:94px;
  width:67px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:67px;
  top:94px;
  width:98px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:165px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:265px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:365px;
  top:94px;
  width:97px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:462px;
  top:94px;
  width:97px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:559px;
  top:94px;
  width:97px;
  height:30px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:656px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:756px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:856px;
  top:94px;
  width:97px;
  height:30px;
  color:#1E1E1E;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:953px;
  top:94px;
  width:110px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:124px;
  width:67px;
  height:30px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:67px;
  top:124px;
  width:98px;
  height:30px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:165px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:265px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:365px;
  top:124px;
  width:97px;
  height:30px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:462px;
  top:124px;
  width:97px;
  height:30px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:559px;
  top:124px;
  width:97px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:656px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:756px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:856px;
  top:124px;
  width:97px;
  height:30px;
  color:#1E1E1E;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:953px;
  top:124px;
  width:110px;
  height:30px;
  text-decoration:underline;
  color:#0000FF;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:30px;
  top:120px;
  width:100px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u134 {
  position:absolute;
  left:140px;
  top:120px;
  width:100px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u135 {
  position:absolute;
  left:598px;
  top:124px;
  width:86px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
