body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:154px;
  top:170px;
  width:85px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:54px;
  top:340px;
  width:281px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:42px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:277px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:55px;
  top:230px;
  width:280px;
  height:35px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u10 {
  position:absolute;
  left:54px;
  top:277px;
  width:146px;
  height:38px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u11 {
  position:absolute;
  left:210px;
  top:278px;
  width:125px;
  height:35px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:48px;
  top:170px;
  width:22px;
  height:22px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u14 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:420px;
  top:110px;
  width:382px;
  height:669px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:669px;
}
#u16 {
  position:absolute;
  left:2px;
  top:326px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:866px;
  top:126px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:866px;
  top:240px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:866px;
  top:341px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:866px;
  top:491px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:866px;
  top:156px;
  width:429px;
  height:67px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:32px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:32px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:420px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:32px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:866px;
  top:270px;
  width:429px;
  height:35px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:866px;
  top:371px;
  width:429px;
  height:95px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:866px;
  top:516px;
  width:429px;
  height:95px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
