body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1294px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:138px;
  top:167px;
  width:127px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:167px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:34px;
  top:266px;
  width:330px;
  height:300px;
  color:#0099FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:302px;
}
#u10 {
  position:absolute;
  left:2px;
  top:142px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:48px;
  top:334px;
  width:304px;
  height:202px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:202px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:47px;
  top:296px;
  width:250px;
  height:16px;
  color:#0099FF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:47px;
  top:282px;
  width:264px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0099FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:45px;
  top:316px;
  width:313px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:296px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  height:1px;
}
#u18 {
  position:absolute;
  left:87px;
  top:222px;
  width:222px;
  height:44px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:44px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:33px;
  top:661px;
  width:333px;
  height:53px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:53px;
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:33px;
  top:566px;
  width:330px;
  height:47px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:49px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:58px;
  top:583px;
  width:270px;
  height:16px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:328px;
  top:579px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:420px;
  top:52px;
  width:416px;
  height:846px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:846px;
}
#u29 {
  position:absolute;
  left:2px;
  top:415px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:870px;
  top:68px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:870px;
  top:375px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:870px;
  top:544px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:870px;
  top:694px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:870px;
  top:98px;
  width:429px;
  height:234px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:100px;
  width:424px;
  height:43px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:43px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:143px;
  width:424px;
  height:43px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:186px;
  width:424px;
  height:43px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:43px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:870px;
  top:405px;
  width:429px;
  height:125px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:90px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:870px;
  top:574px;
  width:429px;
  height:95px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:870px;
  top:724px;
  width:429px;
  height:95px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
