body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:176px;
  top:167px;
  width:43px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:167px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:34px;
  top:342px;
  width:330px;
  height:49px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:49px;
}
#u10 {
  position:absolute;
  left:2px;
  top:16px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:358px;
  width:110px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:144px;
  top:352px;
  width:170px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u14 {
  position:absolute;
  left:324px;
  top:358px;
  width:40px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:391px;
  width:330px;
  height:69px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:69px;
}
#u17 {
  position:absolute;
  left:2px;
  top:26px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:407px;
  width:254px;
  height:32px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:32px;
  top:664px;
  width:333px;
  height:47px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:49px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:329px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:470px;
  width:220px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:909px;
  top:143px;
  width:260px;
  height:134px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:134px;
}
#u25 {
  position:absolute;
  left:2px;
  top:59px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:909px;
  top:227px;
  width:260px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:260px;
  height:1px;
}
#u27 {
  position:absolute;
  left:1019px;
  top:157px;
  width:60px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:971px;
  top:185px;
  width:135px;
  height:48px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:48px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1020px;
  top:247px;
  width:60px;
  height:19px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:909px;
  top:303px;
  width:431px;
  height:240px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:240px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:208px;
  width:309px;
  height:166px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:166px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:430px;
  top:53px;
  width:407px;
  height:890px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:890px;
}
#u38 {
  position:absolute;
  left:2px;
  top:437px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1376px;
  top:53px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1376px;
  top:273px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1376px;
  top:441px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1376px;
  top:591px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1376px;
  top:83px;
  width:429px;
  height:133px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u49 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:64px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u51 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1376px;
  top:303px;
  width:429px;
  height:125px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:90px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1376px;
  top:471px;
  width:429px;
  height:95px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1376px;
  top:621px;
  width:429px;
  height:95px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
