body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:100px;
  width:1000px;
  height:10px;
}
#u0_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u0_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u1 {
  position:absolute;
  left:33px;
  top:30px;
  width:289px;
  height:37px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:450px;
  top:355px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:330px;
  top:190px;
  width:200px;
  height:35px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:248px;
  top:204px;
  width:40px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:330px;
  top:235px;
  width:200px;
  height:35px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:248px;
  top:249px;
  width:40px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:248px;
  top:294px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:330px;
  top:280px;
  width:120px;
  height:35px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:470px;
  top:290px;
  width:33px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:513px;
  top:289px;
  width:20px;
  height:17px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:640px;
  top:225px;
  width:490px;
  height:64px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:64px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:310px;
  top:355px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:640px;
  top:304px;
  width:200px;
  height:176px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:176px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
