body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:140px;
  top:167px;
  width:127px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:167px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:43px;
  top:210px;
  width:264px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:34px;
  top:231px;
  width:330px;
  height:63px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:63px;
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:121px;
  top:262px;
  width:241px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:121px;
  top:243px;
  width:130px;
  height:16px;
  font-size:14px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:44px;
  top:242px;
  width:110px;
  height:17px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:34px;
  top:295px;
  width:330px;
  height:37px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:51px;
  top:302px;
  width:289px;
  height:16px;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:32px;
  top:658px;
  width:333px;
  height:47px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:15px;
  width:329px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:34px;
  top:373px;
  width:330px;
  height:125px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:125px;
}
#u26 {
  position:absolute;
  left:2px;
  top:54px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:116px;
  top:394px;
  width:181px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:101px;
  top:423px;
  width:64px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:165px;
  top:423px;
  width:64px;
  height:44px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:44px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:227px;
  top:423px;
  width:64px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:44px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:150px;
  top:508px;
  width:200px;
  height:32px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:416px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u40 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:447px;
  top:153px;
  width:335px;
  height:47px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:556px;
  top:167px;
  width:127px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:456px;
  top:167px;
  width:22px;
  height:22px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u46 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:459px;
  top:210px;
  width:264px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:450px;
  top:227px;
  width:330px;
  height:63px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:63px;
}
#u50 {
  position:absolute;
  left:2px;
  top:24px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:537px;
  top:258px;
  width:241px;
  height:16px;
  font-size:14px;
  color:#666666;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:537px;
  top:239px;
  width:130px;
  height:16px;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:460px;
  top:238px;
  width:110px;
  height:17px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:450px;
  top:291px;
  width:330px;
  height:37px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:467px;
  top:298px;
  width:289px;
  height:16px;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:448px;
  top:663px;
  width:333px;
  height:47px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:49px;
}
#u62 {
  position:absolute;
  left:2px;
  top:15px;
  width:329px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:450px;
  top:374px;
  width:330px;
  height:125px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:125px;
}
#u64 {
  position:absolute;
  left:2px;
  top:54px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:532px;
  top:395px;
  width:181px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:517px;
  top:424px;
  width:64px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:44px;
}
#u69 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:581px;
  top:424px;
  width:64px;
  height:44px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:44px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:643px;
  top:424px;
  width:64px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:44px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:565px;
  top:509px;
  width:200px;
  height:32px;
  text-align:right;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:581px;
  top:424px;
  width:69px;
  height:44px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:448px;
  top:491px;
  width:332px;
  height:223px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:225px;
}
#u78 {
  position:absolute;
  left:2px;
  top:104px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:34px;
  top:333px;
  width:330px;
  height:37px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:51px;
  top:340px;
  width:289px;
  height:17px;
  font-size:14px;
  color:#1E1E1E;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:450px;
  top:333px;
  width:330px;
  height:37px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:467px;
  top:340px;
  width:289px;
  height:17px;
  font-size:14px;
  color:#1E1E1E;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:17px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:842px;
  top:25px;
  width:428px;
  height:759px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:759px;
}
#u88 {
  position:absolute;
  left:2px;
  top:372px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1320px;
  top:25px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1320px;
  top:255px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1320px;
  top:424px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1320px;
  top:574px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1320px;
  top:55px;
  width:429px;
  height:199px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:32px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:32px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:420px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:32px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:62px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:0px;
  top:92px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:122px;
  width:424px;
  height:72px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:72px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:420px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:1320px;
  top:285px;
  width:429px;
  height:95px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:420px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1320px;
  top:454px;
  width:429px;
  height:95px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:1320px;
  top:599px;
  width:429px;
  height:95px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
