body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:156px;
  top:166px;
  width:85px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:48px;
  top:166px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:848px;
  top:166px;
  width:362px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:252px;
  width:100px;
  height:16px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:60px;
  top:278px;
  width:100px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:48px;
  top:304px;
  width:92px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:48px;
  top:330px;
  width:292px;
  height:60px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:60px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:48px;
  top:226px;
  width:92px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:147px;
  top:495px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:404px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u23 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:435px;
  top:153px;
  width:335px;
  height:47px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u25 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:560px;
  top:166px;
  width:85px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:452px;
  top:166px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:440px;
  top:205px;
  width:320px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:470px;
  top:227px;
  width:250px;
  height:32px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:440px;
  top:275px;
  width:320px;
  height:35px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:1146px;
  top:62px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1146px;
  top:282px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1146px;
  top:450px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1146px;
  top:600px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1146px;
  top:92px;
  width:429px;
  height:133px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u45 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:64px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u47 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1146px;
  top:312px;
  width:429px;
  height:125px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:90px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1146px;
  top:480px;
  width:429px;
  height:95px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1146px;
  top:630px;
  width:429px;
  height:95px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:860px;
  width:394px;
  height:700px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:700px;
}
#u72 {
  position:absolute;
  left:2px;
  top:342px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:404px;
  top:860px;
  width:394px;
  height:699px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:699px;
}
#u74 {
  position:absolute;
  left:2px;
  top:342px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
