body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:834px;
}
#u2 {
  position:absolute;
  left:2px;
  top:409px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:153px;
  width:335px;
  height:47px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:47px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:154px;
  top:167px;
  width:85px;
  height:25px;
  font-family:'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:40px;
  top:167px;
  width:22px;
  height:22px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u8 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:39px;
  top:216px;
  width:320px;
  height:114px;
  color:#0099FF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
}
#u10 {
  position:absolute;
  left:2px;
  top:49px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:59px;
  top:230px;
  width:321px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:59px;
  top:246px;
  width:291px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:274px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:291px;
  height:1px;
}
#u14 {
  position:absolute;
  left:59px;
  top:256px;
  width:200px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:59px;
  top:306px;
  width:220px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:59px;
  top:276px;
  width:150px;
  height:22px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:340px;
  width:184px;
  height:170px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:170px;
}
#u21 {
  position:absolute;
  left:2px;
  top:77px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:48px;
  top:540px;
  width:300px;
  height:140px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:140px;
}
#u23 {
  position:absolute;
  left:2px;
  top:62px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:454px;
  top:70px;
  width:356px;
  height:632px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:632px;
}
#u25 {
  position:absolute;
  left:2px;
  top:308px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:918px;
  top:272px;
  width:352px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1286px;
  top:60px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1286px;
  top:280px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1286px;
  top:448px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1286px;
  top:598px;
  width:110px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1286px;
  top:90px;
  width:429px;
  height:133px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:64px;
  width:424px;
  height:64px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:64px;
}
#u40 {
  position:absolute;
  left:2px;
  top:24px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1286px;
  top:310px;
  width:429px;
  height:125px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:90px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1286px;
  top:478px;
  width:429px;
  height:95px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1286px;
  top:628px;
  width:429px;
  height:95px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:30px;
  width:424px;
  height:30px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:60px;
  width:424px;
  height:30px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
