body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:90px;
  width:1000px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u2 {
  position:absolute;
  left:33px;
  top:21px;
  width:289px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:398px;
  top:10px;
  width:272px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:398px;
  top:33px;
  width:272px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:398px;
  top:57px;
  width:272px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:28px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:30px;
  top:174px;
  width:130px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:110px;
  top:169px;
  width:190px;
  height:25px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:210px;
  width:130px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:110px;
  top:210px;
  width:100px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:320px;
  top:210px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:228px;
  top:214px;
  width:48px;
  height:16px;
  color:#FF0000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:110px;
  top:250px;
  width:200px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:373px;
  width:130px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:110px;
  top:370px;
  width:200px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:30px;
  top:410px;
  width:90px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:110px;
  top:410px;
  width:997px;
  height:282px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:282px;
}
#u29 {
  position:absolute;
  left:2px;
  top:133px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:30px;
  top:720px;
  width:130px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:110px;
  top:715px;
  width:200px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:330px;
  top:720px;
  width:210px;
  height:32px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:110px;
  top:795px;
  width:100px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:230px;
  top:795px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:0px;
  top:767px;
  width:1110px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:1093px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u38 {
  position:absolute;
  left:30px;
  top:119px;
  width:130px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:340px;
  top:119px;
  width:130px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:450px;
  top:114px;
  width:190px;
  height:25px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:110px;
  top:114px;
  width:190px;
  height:25px;
  text-align:left;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:25px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
