body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-10px;
  top:90px;
  width:1000px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:983px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1000px;
  height:1px;
}
#u2 {
  position:absolute;
  left:23px;
  top:21px;
  width:289px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:388px;
  top:10px;
  width:272px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:388px;
  top:33px;
  width:272px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:388px;
  top:57px;
  width:272px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:690px;
  top:30px;
  width:100px;
  height:28px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:30px;
  top:167px;
  width:695px;
  height:159px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:67px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:165px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:265px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:365px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:465px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:563px;
  top:0px;
  width:127px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:30px;
  width:67px;
  height:33px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:33px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:67px;
  top:30px;
  width:98px;
  height:33px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:165px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:265px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:365px;
  top:30px;
  width:100px;
  height:33px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:465px;
  top:30px;
  width:98px;
  height:33px;
  color:#1E1E1E;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:563px;
  top:30px;
  width:127px;
  height:33px;
  color:#0000FF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:63px;
  width:67px;
  height:31px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:67px;
  top:63px;
  width:98px;
  height:31px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:165px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u45 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:265px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:365px;
  top:63px;
  width:100px;
  height:31px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u49 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:465px;
  top:63px;
  width:98px;
  height:31px;
  color:#0000FF;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u51 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:563px;
  top:63px;
  width:127px;
  height:31px;
  color:#0000FF;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u53 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:94px;
  width:67px;
  height:30px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:67px;
  top:94px;
  width:98px;
  height:30px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:165px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:265px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:365px;
  top:94px;
  width:100px;
  height:30px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:465px;
  top:94px;
  width:98px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:563px;
  top:94px;
  width:127px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:124px;
  width:67px;
  height:30px;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:67px;
  top:124px;
  width:98px;
  height:30px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:165px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:265px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:365px;
  top:124px;
  width:100px;
  height:30px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:465px;
  top:124px;
  width:98px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:563px;
  top:124px;
  width:127px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:10px;
  top:177px;
  width:100px;
  height:16px;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:10px;
  top:207px;
  width:100px;
  height:16px;
}
#u85 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u86 {
  position:absolute;
  left:10px;
  top:238px;
  width:100px;
  height:16px;
}
#u87 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u88 {
  position:absolute;
  left:10px;
  top:272px;
  width:100px;
  height:16px;
}
#u89 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u90 {
  position:absolute;
  left:10px;
  top:301px;
  width:100px;
  height:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:30px;
  top:120px;
  width:100px;
  height:25px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u93 {
  position:absolute;
  left:140px;
  top:120px;
  width:100px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u94 {
  position:absolute;
  left:250px;
  top:120px;
  width:100px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
